{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}

    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Voir ou éditer</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.price }}</td>
                <td>{{ produit.stock }}</td>
                <td><img src="{{ asset('/uploads/'~produit.image) }}" style="width: 200px"></td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">voir</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>pas de produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">creer nouveau</a>
{% endblock %}