{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.name}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ produit.image }}</td>
            </tr>
        </tbody>
    </table> 
    {% if is_granted('ROLE_USER') %}
    
<a href="{{path('cart_add', {'id': produit.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                    {% else %}
                    <p> vous devez vous connecter pour rajouter ce produit dans votre panier <a href="/login">connectez-vous</p>
                    {% endif %}
                    
                        
    <a href="{{ path('produit_index') }}">retourner</a>
    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
    

    {{ include('produit/delete.html.twig') }}
{% endblock %}